/* utility class */

:root {
  --blue: #2C3E50;
  --light-blue: #3A546D;
  --green: #1ABC9C;
}



/* navbar  */

.bg-color-nav {
  background-color: var(--blue);
}

/* header  */

.page-hero {
  background-color: var(--green);
  min-height: 2000px;
}

.img {
  width: 300px;
  justify-content: center;
}

/* media query */


/* debug */

[class^="col"] {
  border: 1px solid red;
  min-height: 300px;
}

.container {
  border: 1px solid purple;
}

.container-sm {
  border: 1px solid yellow;
}

.container-md {
  border: 1px solid black;
}

.container-lg {
  border: 1px solid blue;
}