/* utility class */

:root {
  --blue: #2C3E50;
  --light-blue: #3A546D;
  --green: #1ABC9C;
}



/* navbar  */

.bg-color-nav {
  background-color: var(--blue);
}

/* hero  */

.page-hero {
  background-color: var(--green);
}

.img {
  width: 300px;
}

/* main  */

.card-img {
  width: 100%;
  border-radius: 10px;
}

/* section about  */
.about {
  background-color: var(--green);
}

/* section contact  */

/* footer  */
.page-footer {
  background-color: var(--light-blue);
}

.footer-copyright {
  background-color: var(--blue);
}

/* media query */
@media (min-width: 768px) {
  .img {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .img {
    width: 150px;
  }
}

/* debug */

[class^="col"] {
  border: 1px solid red;

}

.container {
  border: 1px solid purple;
}

.container-sm {
  border: 1px solid yellow;
}

.container-md {
  border: 1px solid black;
}

.container-lg {
  border: 1px solid blue;
}